.card{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  margin: 5px;
  cursor: pointer;
  opacity: 0.85;
  transition: all ease .4s;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  

  @media (max-width: 675px) {
    width: 100%;
  }

  &:hover{
    opacity: 1;
    transform: scale(1.01);
  }

  &__portrait{
    max-width: 100%;
  }
}